<nav>

    <ul class="pagination">

        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-page="./Index"
                   asp-route-pageNumber="@(Model.PageNumber - 1)"
                   asp-route-Buscar="@Model.Buscar"
                   asp-route-Desde="@(Model.Desde?.ToString("yyyy-MM-dd"))"
                   asp-route-Hasta="@(Model.Hasta?.ToString("yyyy-MM-dd"))"
                   asp-route-Mostrar="@Model.Mostrar">
                    «
                </a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link"
                   asp-page="./Index"
                   asp-route-pageNumber="@i"
                   asp-route-Buscar="@Model.Buscar"
                   asp-route-Desde="@(Model.Desde?.ToString("yyyy-MM-dd"))"
                   asp-route-Hasta="@(Model.Hasta?.ToString("yyyy-MM-dd"))"
                   asp-route-Mostrar="@Model.Mostrar">
                    @i
                </a>
            </li>
        }

        @if (Model.PageNumber < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-page="./Index"
                   asp-route-pageNumber="@(Model.PageNumber + 1)"
                   asp-route-Buscar="@Model.Buscar"
                   asp-route-Desde="@(Model.Desde?.ToString("yyyy-MM-dd"))"
                   asp-route-Hasta="@(Model.Hasta?.ToString("yyyy-MM-dd"))"
                   asp-route-Mostrar="@Model.Mostrar">
                    »
                </a>
            </li>
        }

    </ul>

</nav>